.DS_Store

*.py[cod]
__pychache__/

.Python
env/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.so
.mypy*/
*.swp
*.ipynb
.ipynb_checkpoints
.mypy_cache
notebooks/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

docs/build/
docs/source/build/

.ipynb_checkpoints
.python-version
